{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div id="login-app" data-csrf-token="{{ csrf_token }}" data-error="{{ error|json_encode }}"></div>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
{% endblock %}
