{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div style="background-color: #111927">
    <div class="container" style="height:100vh;">
        <div class="d-flex flex-column justify-content-center align-items-center h-100 text-light">
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
