{% extends 'base.html.twig' %}

{% block body %}
<div id="app" data-pokemons={{ pokemons|json_encode }}></div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
